
<div class="spinner-border progress-spinner" role="status" *ngIf="loader">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="container">
  <br />
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class=" card-sm" (ngSubmit)="searchApi()">
        <div class=" row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <!--end of col-->
          <div class="col">
            <input
              class="form-control form-control-lg form-control-borderless"
              type="search"
              placeholder="Search Songs And Albums"
              name="search"
              [(ngModel)]="query"
            />
          </div>
          <!--end of col-->
          <div class="col-auto">
            <button class="btn btn-lg btn-success" type="submit">Search</button>
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>
    <!--end of col-->


<div class="container">
  <div class="row">
    <div class="col-md-8" *ngIf="response && response.albums.items">
      <h2 class="my-5">Top Results Of <span>{{query | titlecase}}</span></h2>
      
      <div class="row mb-3" *ngFor="let item of response.albums.items">
        <div class="col-md-4" *ngIf="item.data.coverArt.sources.length > 0">
          <img
            src="{{ item.data.coverArt.sources[0].url }}"
            alt="{{ item.data.name }}"
            class="img-fluid"
          />
        </div>
        <div class="col-md-8">
          <h4>{{ item.data.name }}</h4>
          <p>
            {{ item.data.artists.items[0].profile.name }} -
            {{ item.data.date.year }}
          </p>
          <p><a [href]="item.data.uri" target="_blank">View on Spotify</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>	



